/*
my color scheme
#D3D3D3 LIGHT GRAY
#2E40A5 Violet-Blue
#00285E COOL BLACK
 #000000; /*black*/
*/
body{
  font-size:1em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  color: #000000; /*black*/
  text-align left;
  background-color: #D3D3D3;
}
h1{
  font-size:1.8em;
  font-weight: bold;
  color: black;
  text-align:center;
  width: auto;
  height: auto;
  border: 2px solid black;
  border-radius:2em;
  background-color:#6BC1FF;
}
h2{
  width: 200px;
  height: auto;
  text-align: left;
  border: 2px solid black;
  border-bottom-right-radius: 2em;
  box-shadow: 10px 10px 5px;
  background-color: #6BC1FF;
  }
p{
  font-size: 1.8;
  text-align: left;
  font-family: Arial;
}
ul{
  color:#2E40A5;
}
a{
  color:#00285E;
}
