/*** KERNING & LEADING ASSIGNMENT STYLES ***/

/* Do not change this style */
.rectangle {
  font-family: "Helvetica";
  font-size: 1em;
  background-color: white;
  border: solid 1px black;
  height: 300px;
  width: 800px;
  margin: 0 auto;
}

#kerning {
  /* Use the letter-spacing property to change the kerning on the text to fill the div below

  http://www.w3schools.com/cssref/pr_text_letter-spacing.asp
  */
  letter-spacing: 6.25px;
}

#leading {
  /* Use the line-height property to change the leading on the text to fill the div below

  http://www.w3schools.com/cssref/pr_dim_line-height.asp
  */
line-height: 2.85;
}

/*** TEXT ALIGNMENT ASSIGNMENT STYLES ***/

/* Do not change this style */
.align {
  max-width: 80%;
  margin: 1em auto;
}

#left_align {
  /* Use the text-align property to left-align the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
text-align:left;
}

#right_align {
  /* Use the text-align property to right-align the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
text-align: right;
}

#justify {
  /* Use the text-align property to justify the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
text-align: justify;
}

#center {
  /* Use the text-align property to justify the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
text-align: center;
}
